// Body
$body-bg: #f8fafc;

// Typography
$font-family-base: serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #3490dc;
$secondary: #f6993f;
$white: #fff;
$off-white: #eee;
$black: #000;
