// Colors
$primary: #3490dc;
$secondary: #f6993f;
$white: #fff;
$off-white: #eee;
$black: #000;
$success: #82ce82;
$error: #c35356;

$palette-1: #571845;
$palette-2: #900C3E;
$palette-3: #C70039;
$palette-4: #FF5733;

$text-lg: 3rem;

$font-heading: 'Fjalla One', sans-serif;
