.climber-card {
  transition: transform 0.1s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateX(5px);
  }

  &__flag {
    width: 50px;
  }

  &__expanded {
    display: none;

    .climber-card--expanded & {
      display: block;
    }
  }
}

//   &:hover {
//     transform: translateX(5px);
//     color: inherit;
//     text-decoration: none;
//     border: none;
//   }

//   & + & {
//     margin-top: 1rem;
//   }

//   &__score {
//     display: inline-block;
//     font-weight: 800;

//     & + & {
//       padding-left: 3rem;
//     }

//     &--9b {
//       color: $primary;
//     }

//     &--8c {
//       color: $secondary;
//     }
//   }

//   &__name {
//     padding: 0;
//     margin: 0;
//     line-height: 1;
//   }

//   &__list-header {
//     padding: 1rem;
//     border-bottom: 2px solid #eee;
//   }

//   &__routes {
//     max-height: 0;
//     overflow: hidden;
//     transition: all 0.5s ease-in-out;
//     background: #ddd;

//     .climber-card--expanded & {
//       max-height: 500px;
//       padding: 2rem;
//     }
//   }
// }


