.header {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 1.5rem 2rem;
  border-bottom: solid 1px #ddd;
  box-shadow: #ddd 0 0 20px 0;
  z-index: 2;

  &__logo {
    font-weight: 600;
  }
}

.nav {
  display: flex;
  justify-content: end;

  &__item {
    display: inline-block;
    padding: 0 1rem;
  }
}
